header{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
}


.navbar-nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    font-size: 1.6rem;
}

.navbar {
    background: linear-gradient(to right, #063d76, #063d76);


}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: white;
    
}
.btn-outline-success {
    color: #fff;
    border-color: #fff;
    margin-right: 30px;
}

.btn-outline-success:hover {
    background-color: #fff;
    color: #000;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}

.navbar-brand {
    font-size: 1.4rem;
    margin-left: 10px;
}